<div class="container">
  <div class="row">
    <h1>Welcome to <%= @restaurant.name %>!</h1>
    <p> We are located at <%= restaurant.address %> !!!</p>
    <p> Call us at <%= restaurant.phone_number %></p>
    <p> We serve the best <%= restaurant.category %></p>
  </div>
</div>

